/* InitialSelector.css */

.selector-container {
  display: flex;
  flex-direction: row; /* Set to row to have items side by side */
  align-items: center;
  gap: .5rem; /* space between items */
  padding: 2rem; /* padding around the container */
  min-height: 70vh; /* minimum height to push content towards the top */
  justify-content: center; /* horizontally center items */
  flex-wrap: wrap; /* Wrap items to the next line if not enough space */
}

.image-button {
  border: 2px solid #007bff; /* solid border for emphasis */
  border-radius: 10px; /* rounded corners */
  padding: 1rem; /* spacing inside the button */
  background-color: #f8f9fa; /* light background color */
  margin-bottom: -.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  text-align: center;
  width: 300px; /* fixed width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-button img {
  width: 80%; /* width relative to the button size */
  margin-bottom: 1rem; /* space between image and text */
  height: auto;
  border-radius: 8px; /* slightly rounded corners for the image */
}

.image-button-text {
  font-size: 1.4rem; /* increased font size */
  font-weight: bold;
  color: #333; /* dark grey color for readability */
}

.oa-page-embed {
  margin-top: -3rem;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .selector-container {
    flex-direction: column; /* Stack items on small screens */
  }

  .image-button {
    width: 90%; /* more width on small screens */
  }

  .image-button img {
    width: 100%; /* full width of the button */
  }
}

.image-button:hover, .image-button:focus {
  transform: translateY(-5px); /* lift effect on hover/focus */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* more pronounced shadow on hover/focus */
  border-color: #0056b3; /* darker border color on hover/focus */
}

/* Ensure accessibility for focusable elements */
.image-button:focus {
  outline: none; /* removing default outline */
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); /* custom focus style */
}
