/* InitialSelector.css */

.selector-container {
    /* ... existing styles ... */
    position: relative;
    top: 33%; /* moving it to top third */
    left: 5%; /* little offset from the left */
  }
  
  .image-button img {
    width: 200px;  /* fixed width */
    height: 200px; /* fixed height */
    object-fit: cover; /* crops the image to fit the container */
    /* ... other existing styles ... */
  }
  
  .image-button-text {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: black; /* make the text always visible */
  }
  
    /* Mobile responsiveness */
    @media (max-width: 480px) {
      max-width: 150px;
    }
  
  
  .image-button:hover img {
    transform: scale(1.05); /* Slightly enlarging the image on hover */
  }
  
  .image-button-text {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  